* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.show {
  display: block !important; }

.show-menu {
  right: 30% !important;
  z-index: 1000; }

.hide {
  overflow: hidden; }

.overlay {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: none; }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f1f0f1; }

img {
  display: block;
  max-width: 100%; }

.container {
  max-width: 1170px;
  margin: auto; }

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

/* ===================Header===================== */
.heading .heading__heading-top {
  padding: 15px 0; }
  .heading .heading__heading-top .heading__bar {
    display: none; }
  .heading .heading__heading-top .heading-logo {
    text-decoration: none;
    font-style: italic; }
    .heading .heading__heading-top .heading-logo span {
      font-size: 50px;
      font-weight: 600;
      color: #000; }
    .heading .heading__heading-top .heading-logo small {
      font-size: 30px;
      color: #fc3535;
      font-weight: 600; }
    .heading .heading__heading-top .heading-logo b {
      display: inline-block;
      font-size: 25px;
      font-weight: 600;
      color: #fc3535;
      transform: rotate(-90deg);
      margin-left: -6px; }
  .heading .heading__heading-top form {
    width: 48%;
    position: relative; }
    .heading .heading__heading-top form input {
      width: 100%;
      padding: 5px 40px 5px 10px;
      font-size: 18px; }
    .heading .heading__heading-top form input::placeholder {
      font-size: 14px; }
    .heading .heading__heading-top form input:focus {
      border: 1px solid #ed1c24; }
    .heading .heading__heading-top form i {
      font-size: 20px;
      position: absolute;
      right: 10px;
      top: 6px;
      cursor: pointer; }
  .heading .heading__heading-top ul li {
    display: inline-block;
    margin-left: 20px; }
  .heading .heading__heading-top ul a {
    text-decoration: none;
    color: #0f0f0f;
    display: flex;
    align-items: center; }
    .heading .heading__heading-top ul a span {
      margin-left: 10px;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px; }
      .heading .heading__heading-top ul a span .heading--red {
        color: #cc0101;
        margin: 0; }
    .heading .heading__heading-top ul a i {
      font-size: 25px;
      color: #bdbcbc; }
.heading .heading__menu {
  background: #cc0101; }
  .heading .heading__menu ul {
    width: 100%; }
    .heading .heading__menu ul li {
      padding: 10px 0;
      display: inline-block;
      margin: 0 30px; }
      .heading .heading__menu ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 16px; }
    .heading .heading__menu ul li.heading--close {
      display: none; }
    .heading .heading__menu ul li:nth-child(3) {
      position: relative; }
      .heading .heading__menu ul li:nth-child(3) .drop-down {
        background-color: #fff;
        position: absolute;
        top: 100%;
        width: 170px;
        transition: all .3s ease-in-out;
        opacity: 0;
        visibility: hidden; }
        .heading .heading__menu ul li:nth-child(3) .drop-down a {
          color: #1a1919;
          display: block;
          margin: 10px; }
        .heading .heading__menu ul li:nth-child(3) .drop-down a:hover {
          color: #cc0101; }
    .heading .heading__menu ul li:nth-child(3):hover .drop-down {
      opacity: 1;
      visibility: visible; }
.heading .heading__heading-bottom {
  margin-top: 10px; }
  .heading .heading__heading-bottom .heading__banner {
    width: 100%; }

.main {
  padding: 30px 0; }
  .main section {
    margin-bottom: 30px; }
    .main section .main__title h1 {
      font-size: 29px;
      color: #f44336;
      margin: 0 0 20px 10px;
      font-weight: bold; }
    .main section .main__content {
      background: #fff;
      padding: 10px 15px; }
      .main section .main__content .main__item {
        position: relative;
        width: 210px;
        transition: all .3s ease-in-out; }
        .main section .main__content .main__item img {
          width: 100% !important;
          margin-bottom: 20px; }
        .main section .main__content .main__item .main__info {
          padding: 0 10px; }
          .main section .main__content .main__item .main__info a.title {
            font-size: 14px;
            color: #333;
            text-decoration: none;
            margin-bottom: 10px;
            display: inline-block; }
          .main section .main__content .main__item .main__info span {
            font-size: 13px;
            color: #333;
            font-weight: bold; }
          .main section .main__content .main__item .main__info .buy {
            margin: 20px 0;
            width: 100%;
            background-color: #ed1c24;
            text-transform: uppercase;
            color: #fff;
            outline: none;
            border: none;
            font-size: 13px;
            padding: 10px 16px; }
      .main section .main__content .main__item:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.1); }
      .main section .main__content .main__products-show {
        text-align: center; }
        .main section .main__content .main__products-show a {
          text-decoration: none;
          display: inline-block;
          margin: 30px 0;
          font-size: 14px;
          border: 1px solid #ed1c24;
          outline: none;
          background-color: #fff;
          padding: 5px 16px;
          width: 200px;
          color: #ed1c24; }
  .main .main__page-link {
    margin: 0 0 10px; }
    .main .main__page-link a {
      color: #999;
      font-size: 13px;
      text-decoration: none; }
    .main .main__page-link span {
      font-size: 13px; }
  .main .main__product-detail .fix-row {
    align-items: flex-start;
    padding: 15px; }
  .main .main__product-detail .bg-white {
    background: #fff; }
  .main .main__product-detail .main__item img {
    width: 100%; }
  .main .main__product-detail .main__item .item__info {
    padding: 30px 0; }
    .main .main__product-detail .main__item .item__info h2 {
      font-size: 20px;
      font-weight: 400;
      margin: 10px 0; }
    .main .main__product-detail .main__item .item__info div {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .main .main__product-detail .main__item .item__info div span.sku {
        margin: 0 0 30px; }
      .main .main__product-detail .main__item .item__info div span {
        margin: 0 0 20px; }
      .main .main__product-detail .main__item .item__info div span:nth-child(1) {
        color: #666;
        font-size: 13px; }
      .main .main__product-detail .main__item .item__info div span:nth-child(2) {
        width: 60%; }
    .main .main__product-detail .main__item .item__info hr {
      border-color: rgba(0, 0, 0, 0.12);
      border-width: thin 0 0 0; }
    .main .main__product-detail .main__item .item__info form {
      margin: 30px 0; }
      .main .main__product-detail .main__item .item__info form span {
        margin-bottom: 0; }
      .main .main__product-detail .main__item .item__info form p {
        width: 60%; }
        .main .main__product-detail .main__item .item__info form p input, .main .main__product-detail .main__item .item__info form p button {
          width: 32px;
          height: 32px;
          text-align: center;
          font-size: 16px;
          background: #fff;
          border: 1px solid #dbdbdb; }
        .main .main__product-detail .main__item .item__info form p button:nth-child(1) {
          margin-right: -4px; }
        .main .main__product-detail .main__item .item__info form p button:nth-child(3) {
          margin-left: -4px; }
      .main .main__product-detail .main__item .item__info form > button {
        width: 230px;
        padding: 13px;
        font-size: 14px;
        margin: 50px 0 0 0;
        background: #f44336;
        border: none;
        color: #fff; }
      .main .main__product-detail .main__item .item__info form > button:hover {
        border: 1px solid #ed1c24;
        color: #ed1c24;
        background: #fff; }
  .main .main__product-detail .main__item:first-child {
    width: 40%; }
  .main .main__product-detail .main__item:last-child {
    width: 60%; }
  .main .main__about p {
    font-size: 23px;
    font-weight: 300; }
  .main .main__product-description .show {
    padding: 10px 20px;
    text-align: center;
    background-color: #fff; }
    .main .main__product-description .show img {
      display: inline-block; }
    .main .main__product-description .show p {
      text-align: left; }
  .main .main__description h1 {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #d63636; }
  .main .main__product-list .main__item {
    position: relative;
    width: 262px;
    transition: all .3s ease-in-out; }
    .main .main__product-list .main__item img {
      width: 100% !important;
      margin-bottom: 20px; }
    .main .main__product-list .main__item .main__info {
      padding: 0 10px; }
      .main .main__product-list .main__item .main__info a.title {
        font-size: 14px;
        color: #333;
        text-decoration: none;
        margin-bottom: 10px;
        display: inline-block; }
      .main .main__product-list .main__item .main__info span {
        font-size: 13px;
        color: #333;
        font-weight: bold; }
      .main .main__product-list .main__item .main__info .buy {
        margin: 20px 0;
        width: 100%;
        background-color: #ed1c24;
        text-transform: uppercase;
        color: #fff;
        outline: none;
        border: none;
        font-size: 13px;
        padding: 10px 16px; }
  .main .main__cart .main__page-title {
    width: 100%;
    border-bottom: 1px solid #ed1c24; }
    .main .main__cart .main__page-title h1 {
      font-size: 25px;
      font-weight: bold;
      color: #cc0101;
      border-bottom: 3px solid #ed1c24;
      display: inline-block; }
  .main .main__cart form {
    margin-top: 30px;
    padding: 20px 0;
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 30px 0; }
    .main .main__cart form table {
      width: 65%; }
      .main .main__cart form table tr {
        border-bottom: 1px solid #b9b9b9; }
        .main .main__cart form table tr th {
          font-weight: bold; }
        .main .main__cart form table tr td, .main .main__cart form table tr th {
          padding: 10px 0 10px 0;
          vertical-align: middle; }
      .main .main__cart form table tr.item-2 td {
        text-align: center; }
      .main .main__cart form table tr.item-2 td:nth-child(1) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left; }
        .main .main__cart form table tr.item-2 td:nth-child(1) .img img {
          width: 100px; }
        .main .main__cart form table tr.item-2 td:nth-child(1) .info {
          width: 68%; }
          .main .main__cart form table tr.item-2 td:nth-child(1) .info a {
            font-size: 15px;
            text-decoration: none;
            font-weight: bold;
            color: #000;
            margin: 7px 0;
            display: inline-block; }
            .main .main__cart form table tr.item-2 td:nth-child(1) .info a span, .main .main__cart form table tr.item-2 td:nth-child(1) .info a i {
              font-weight: 400;
              font-size: 12px;
              color: #cc0101; }
      .main .main__cart form table tr.item-2 td .qty input, .main .main__cart form table tr.item-2 td .qty button {
        width: 32px;
        height: 32px;
        text-align: center; }
      .main .main__cart form table tr.item-2 td .qty button:nth-child(1) {
        margin-right: -4px; }
      .main .main__cart form table tr.item-2 td .qty button:nth-child(3) {
        margin-left: -4px; }
      .main .main__cart form table tr.item-3 {
        border: none; }
        .main .main__cart form table tr.item-3 td {
          padding: 20px 0; }
          .main .main__cart form table tr.item-3 td button {
            padding: 10px 20px;
            border: 1px solid #cc0101;
            color: #cc0101;
            background: #fff;
            transition: all .3s ease-in-out; }
          .main .main__cart form table tr.item-3 td button:hover {
            color: #fff;
            background: #cc0101; }
    .main .main__cart form .main__item:last-child {
      width: 30%; }
      .main .main__cart form .main__item:last-child .sum-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #b9b9b9;
        border-bottom: 1px solid #b9b9b9;
        padding: 20px; }
        .main .main__cart form .main__item:last-child .sum-price strong {
          font-size: 14px;
          font-weight: bold; }
        .main .main__cart form .main__item:last-child .sum-price span {
          font-weight: bold; }
      .main .main__cart form .main__item:last-child .checkout {
        width: 100%;
        margin-top: 30px;
        background: #cc0101;
        color: #fff;
        padding: 10px 20px;
        border: none;
        transition: all .3s ease-in-out; }
      .main .main__cart form .main__item:last-child .checkout:hover {
        border: 1px solid #cc0101;
        color: #cc0101;
        background: #fff; }
  .main .main__checkout .main__checkout-title span {
    font-size: 25px;
    color: #000;
    font-weight: bold;
    margin-left: 15px; }
  .main .main__checkout .main__item {
    margin: 40px 0 20px 0; }
    .main .main__checkout .main__item h2 {
      font-size: 17px;
      font-weight: bold; }
  .main .main__checkout .main__form-control {
    background-color: #fff;
    width: 100%;
    padding: 25px; }
    .main .main__checkout .main__form-control .main__checkout-info {
      display: flex;
      justify-content: space-between;
      margin: 0 0 30px 0; }
      .main .main__checkout .main__form-control .main__checkout-info label {
        font-size: 14px; }
      .main .main__checkout .main__form-control .main__checkout-info input, .main .main__checkout .main__form-control .main__checkout-info textarea {
        width: 70%;
        padding: 6px 12px; }
      .main .main__checkout .main__form-control .main__checkout-info input::placeholder {
        font-size: 13px; }
    .main .main__checkout .main__form-control .main__checkout-success {
      padding: 20px 15px 30px;
      text-align: right; }
      .main .main__checkout .main__form-control .main__checkout-success button {
        width: 200px;
        padding: 15px 12px;
        color: #fff;
        background: #ed1c24;
        border: none;
        font-weight: bold; }

.fix-pd2 {
  padding: 10px 0 30px; }

.footer .footer__footer-top {
  border-top: 2px solid #cc0101;
  padding: 50px 0; }
  .footer .footer__footer-top .footer__item {
    width: 292px;
    text-align: center; }
    .footer .footer__footer-top .footer__item img {
      margin: auto; }
    .footer .footer__footer-top .footer__item h3 {
      margin: 20px 0;
      font-weight: bold; }

.login {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("../image/login/background.svg") no-repeat;
  background-size: cover;
  background-color: #f0f8ff; }
  .login .login--width {
    width: 420px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .login .item {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    padding: 32px;
    text-align: center;
    background: #fff; }
    .login .item .login__logo {
      font-style: italic; }
      .login .item .login__logo span {
        font-size: 50px;
        font-weight: 600;
        color: #000; }
      .login .item .login__logo small {
        font-size: 30px;
        color: #fc3535;
        font-weight: 600; }
      .login .item .login__logo b {
        display: inline-block;
        font-size: 25px;
        font-weight: 600;
        color: #fc3535; }
    .login .item h5 {
      font-size: 24px;
      margin: 20px 0 30px 0; }
    .login .item form {
      text-align: center; }
      .login .item form input {
        width: 100%;
        padding: 10px 14px;
        margin: 0 0 30px 0;
        border-radius: 3px;
        outline: none;
        border: 1px solid #c2c2c2; }
      .login .item form input:focus {
        border: 1px solid #2196f3; }
      .login .item form button {
        width: 100%;
        font-weight: bold;
        color: #fff;
        background: #2196f3;
        padding: 10px 16px;
        font-size: 14px;
        outline: none;
        border: none;
        border-radius: 3px;
        margin: 0 0 20px 0;
        transition: all .3s ease-in-out; }
      .login .item form button:hover {
        background: #1769aa; }
    .login .item a {
      text-decoration: none;
      color: #2196f3;
      font-size: 16px; }
    .login .item a:hover {
      color: #1769aa; }
  .login .fix-pd {
    padding: 60px 32px; }

@media screen and (max-width: 1199px) {
  .container {
    width: 93%; }

  .main .main__content .main__item {
    width: 18% !important; }
  .main .main__product-list .main__item {
    width: 24%; }

  .footer .footer__item {
    width: 25% !important; } }
@media screen and (max-width: 991px) {
  .container {
    width: 95%; }

  .heading .heading-logo b {
    transform: rotate(0deg) !important;
    margin-left: 0 !important; }
  .heading .heading__heading-top {
    padding: 20px 0; }
    .heading .heading__heading-top .heading__bar {
      display: block;
      font-size: 30px;
      cursor: pointer; }
    .heading .heading__heading-top .heading-logo {
      margin-left: 30px; }
      .heading .heading__heading-top .heading-logo span {
        font-size: 30px; }
    .heading .heading__heading-top form {
      margin: 20px 0 0 0;
      order: 3;
      width: 100%; }
    .heading .heading__heading-top .heading__login {
      margin-left: 0 !important; }
      .heading .heading__heading-top .heading__login span {
        display: none; }
    .heading .heading__heading-top .heading__cart {
      margin-left: 10px; }
      .heading .heading__heading-top .heading__cart span {
        display: none; }
  .heading .heading__menu {
    height: 100vh;
    position: fixed;
    z-index: 100;
    top: 0;
    background: #fff;
    width: 70%;
    right: 100%;
    transition: all .3s ease-in-out; }
    .heading .heading__menu .container {
      width: 100%; }
    .heading .heading__menu ul li {
      display: block;
      margin: 0 0 0 10px !important; }
      .heading .heading__menu ul li a {
        color: #000;
        font-size: 20px; }
      .heading .heading__menu ul li a:hover {
        color: #ed1c24; }
    .heading .heading__menu ul li.heading--close {
      display: block;
      cursor: pointer; }
    .heading .heading__menu ul li.check .drop-down {
      opacity: 1 !important;
      visibility: visible;
      margin-top: 10px;
      display: none;
      position: static; }
      .heading .heading__menu ul li.check .drop-down a {
        display: block;
        margin: 8px 0 8px 15px; }
      .heading .heading__menu ul li.check .drop-down a:hover {
        color: #ed1c24; }
    .heading .heading__menu ul li.heading--close {
      text-align: right;
      font-size: 30px;
      width: 100%;
      margin: 0 !important;
      color: #fff;
      background: #ed1c24; }
      .heading .heading__menu ul li.heading--close i {
        margin-right: 20px; }
  .heading .heading__banner {
    width: 100%; }
    .heading .heading__banner img {
      border-radius: 10px; }

  .main .main__content .main__item {
    width: 33% !important; }
  .main .main__content .main__item:last-child {
    display: none; }
  .main .main__product-detail .row {
    flex-direction: column; }
    .main .main__product-detail .row .main__item {
      width: 100%; }
      .main .main__product-detail .row .main__item .item__info span:nth-child(2) {
        width: 30%; }
      .main .main__product-detail .row .main__item .item__info p {
        width: 40%; }
      .main .main__product-detail .row .main__item form > button {
        width: 100% !important; }
      .main .main__product-detail .row .main__item form > button:hover {
        border: none;
        color: #fff;
        background: #f44336; }
  .main .main__product-list .main__item {
    width: 31%; }
  .main .main__cart form {
    padding: 30px 10px;
    flex-direction: column; }
    .main .main__cart form table {
      width: 100% !important; }
      .main .main__cart form table tr.item-1 th:nth-child(2), .main .main__cart form table tr.item-1 th:nth-child(4) {
        display: none; }
      .main .main__cart form table tr td:nth-child(2), .main .main__cart form table tr td:nth-child(4) {
        display: none; }
      .main .main__cart form table tr.item-2 td .qty p input, .main .main__cart form table tr.item-2 td .qty p button {
        width: 25px;
        height: 25px;
        font-size: 13px; }
      .main .main__cart form table tr.item-3 td {
        padding: 20px 10px; }
        .main .main__cart form table tr.item-3 td button {
          padding: 5px;
          font-size: 12px; }
    .main .main__cart form .main__item:last-child {
      width: 100%; }
  .main .main__checkout .main__form-control {
    padding: 14px 15px 30px 15px; }
    .main .main__checkout .main__form-control label {
      display: none; }
    .main .main__checkout .main__form-control input, .main .main__checkout .main__form-control textarea {
      width: 100% !important; }
    .main .main__checkout .main__form-control .main__checkout-success {
      padding: 0 !important; }
      .main .main__checkout .main__form-control .main__checkout-success button {
        width: 100% !important; }

  .footer .footer__item {
    width: 50% !important; } }
@media screen and (max-width: 767px) {
  .container {
    width: 93%; }

  .heading .heading-logo b {
    transform: rotate(0deg) !important;
    margin-left: 0 !important; }
  .heading .heading__heading-top {
    padding: 20px 0; }
    .heading .heading__heading-top .heading__bar {
      display: block;
      font-size: 30px;
      cursor: pointer; }
    .heading .heading__heading-top .heading-logo {
      margin-left: 30px; }
      .heading .heading__heading-top .heading-logo span {
        font-size: 30px; }
    .heading .heading__heading-top form {
      margin: 20px 0 0 0;
      order: 3;
      width: 100%; }
    .heading .heading__heading-top .heading__login {
      margin-left: 0 !important; }
      .heading .heading__heading-top .heading__login span {
        display: none; }
    .heading .heading__heading-top .heading__cart {
      margin-left: 10px; }
      .heading .heading__heading-top .heading__cart span {
        display: none; }
  .heading .heading__menu {
    height: 100vh;
    position: fixed;
    z-index: 100;
    top: 0;
    background: #fff;
    width: 70%;
    right: 100%;
    transition: all .3s ease-in-out; }
    .heading .heading__menu .container {
      width: 100%; }
    .heading .heading__menu ul li {
      display: block;
      margin: 0 0 0 10px !important; }
      .heading .heading__menu ul li a {
        color: #000;
        font-size: 20px; }
      .heading .heading__menu ul li a:hover {
        color: #ed1c24; }
    .heading .heading__menu ul li.heading--close {
      display: block;
      cursor: pointer; }
    .heading .heading__menu ul li.check .drop-down {
      opacity: 1 !important;
      visibility: visible;
      margin-top: 10px;
      display: none;
      position: static; }
      .heading .heading__menu ul li.check .drop-down a {
        display: block;
        margin: 8px 0 8px 15px; }
      .heading .heading__menu ul li.check .drop-down a:hover {
        color: #ed1c24; }
    .heading .heading__menu ul li.heading--close {
      text-align: right;
      font-size: 30px;
      width: 100%;
      margin: 0 !important;
      color: #fff;
      background: #ed1c24; }
      .heading .heading__menu ul li.heading--close i {
        margin-right: 20px; }
  .heading .heading__banner {
    width: 100%; }
    .heading .heading__banner img {
      border-radius: 10px; }

  .main .main__content .main__item {
    width: 50% !important; }
  .main .main__product-detail .row {
    flex-direction: column; }
    .main .main__product-detail .row .main__item {
      width: 100%; }
      .main .main__product-detail .row .main__item .item__info span:nth-child(2) {
        width: 30%; }
      .main .main__product-detail .row .main__item .item__info p {
        width: 40%; }
      .main .main__product-detail .row .main__item form > button {
        width: 100% !important; }
      .main .main__product-detail .row .main__item form > button:hover {
        border: none;
        color: #fff;
        background: #f44336; }
  .main .main__product-list .main__item {
    width: 47%; }
  .main .main__cart form {
    padding: 30px 10px;
    flex-direction: column; }
    .main .main__cart form table {
      width: 100% !important; }
      .main .main__cart form table tr.item-1 th:nth-child(2), .main .main__cart form table tr.item-1 th:nth-child(4) {
        display: none; }
      .main .main__cart form table tr td:nth-child(2), .main .main__cart form table tr td:nth-child(4) {
        display: none; }
      .main .main__cart form table tr.item-2 td .qty p input, .main .main__cart form table tr.item-2 td .qty p button {
        width: 25px;
        height: 25px;
        font-size: 13px; }
      .main .main__cart form table tr.item-3 td {
        padding: 20px 10px; }
        .main .main__cart form table tr.item-3 td button {
          padding: 5px;
          font-size: 12px; }
    .main .main__cart form .main__item:last-child {
      width: 100%; }
  .main .main__checkout .main__form-control {
    padding: 14px 15px 30px 15px; }
    .main .main__checkout .main__form-control label {
      display: none; }
    .main .main__checkout .main__form-control input, .main .main__checkout .main__form-control textarea {
      width: 100% !important; }
    .main .main__checkout .main__form-control .main__checkout-success {
      padding: 0 !important; }
      .main .main__checkout .main__form-control .main__checkout-success button {
        width: 100% !important; }

  .footer .footer__item {
    width: 50% !important; } }
@media screen and (max-width: 479px) {
  .login .login--width {
    width: 90% !important; } }

/*# sourceMappingURL=style.css.map */
